/*商品頁面*/

.imgg{
    position: absolute;
    top: 25%;
    left: 20%;
    display: block;
}   

.a7{
    width: 400px;
    height: 280px;
    border-radius: 10px;
}

.name{
    margin-top: 20%;
    margin-right: 15%;
    text-align: center;
    font-weight: bolder;
    font-size: 300%;
}

.price{
    float: left;
    width: 50%;
    
}

/*加入最愛*/

.love{
    float: right;
    width: 50%;
}

.heart{
    margin: 5%;
    width: 25px;
    height: 25px;
}

/*價錢*/

.nt{
    margin: 5%;
    margin-left: 40%;
}

/*顏色選項*/

.color{
    margin-left: 20%;
}

.choose{
    border-color: #686868;
    border-radius: 10px; 
    background-color: #DDDDDD;
    color:#686868 ;
    font-family: 微軟正黑體;
    width: 20%;
    text-align: center; 
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -100%);
}


/*數量減少*/

.less{
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #686868;
    background-color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#686868 ;
}

/*數量增加*/

.add{
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #686868;
    background-color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#686868 ;
}

/*數量*/

.quantity{
    background-color:#bbc1c1;
    border: none;
    color:#686868 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 5%;
    margin: 7%;
}

.number{
    margin-left: 23%;
}

.button{
    margin: 20px;
    margin-left: 15%;  
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border-color: #686868;
    background-color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#686868;
}

.introduce{
    margin-left: 20%;
    padding: 5%;
    width: 60%;
    
}

.intro{
    margin-left: 41%;
}

p{
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 18px;
}

.review{
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
}

.rev{
    margin-left: 45%;   
}

.people{
    margin: 18px;
    width: 8%;
    margin-left: 15%;
}

.sth{
    padding: 10px;
    text-align: center;
    font-family: 微軟正黑體;
    float: right;
    width: 70%;
}

h3{
    position: absolute;
    font-weight: bold;

}

.sth p{
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 18px;
}

.commentstar{
    text-align: center;
}

.reviewbroad{
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
}

.reviewbroad textarea{
    resize: none;
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 150px;
    height: 30px;
    overflow: hidden;
    position: relative;
    background: url(images/star.png);
    background-size: contain;
}

.star-rating input {
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating i~i {
    width: 40%;
}

.star-rating i~i~i {
    width: 60%;
}

.star-rating i~i~i~i {
    width: 80%;
}
.star-rating i~i~i~i~i {
    width: 100%;
}
.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url(images/black_star.png);
    background-size: contain;
}

.star-rating input:checked+i {
    opacity: 1;
}


.commentinput{
    border-radius: 5px;
    font-size: 20px;
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.commentsubmit{
    margin: 20px; 
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border-color: #686868;
    background-color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#686868;
}

footer {
    padding: 10px;
    color: #444444;
    text-align: center;
    line-height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    margin-top: 110px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #00375B;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}
