/*首頁商品*/

main{
    position: absolute;
    left: 15%;
    margin: auto;
    padding: 8%;
    width: 70%;
    display: grid;
    grid-template-columns: 10fr 10fr;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.card {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
}

h1 {
    padding: 10px 10px;
    color: #DDDDDD  ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: -3px -3px 0 #686868,
        3px -3px 0 #686868,
        -3px 3px 0 #686868,
        3px 3px 0 #686868;
}

h1:hover {
    color: #D6BCA3;
}

#iconarrow {
    top: 40%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 10px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #00375B;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}

.footer {
	padding: 20px;
	color: #444444;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-top: 20px;
}






    