.three {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 110px;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

.container {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    /*background-color: red;*/
}

.container-per {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin: 5% auto;
    border-radius: 20px 20px;

    height: auto;
    width: 60%;
    padding: 10px;
}

#container-per1 {
    background-color: #4E5851;
}

#container-per2 {
    background-color: #8E7618;
}

#container-per3 {
    background-color: #E5C646;
}

#container-per4 {
    background-color: #F4E7BB;
}


.container-thing {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    text-align: left;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 微軟正黑體;
    font-weight: bolder;
    color: #fff;
    z-index: 20;
}

.container-txt {
    top: 5px;
    position: inherit;
    padding: 2px;
    right: 20%;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
    font-family: 微軟正黑體;
    font-weight: bolder;
    color: #100f14;
    display: flex;
    flex-wrap: wrap;
}

.container-img {
    cursor: pointer;
    position: relative;
    right: 20%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}


.container-img :hover {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1);
    }



    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
        transform: scale(1.1);
    }
}




/* icon */
#iconarrow {
    top: 40%;
    position: absolute;
    right: 20%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 0px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}


.part-title {
    color: black;
    padding: 40px;
    width: 100%;
    font-family: 'Gill Sans';
    font-size: 50px;
    text-align: center;
}

@media only screen and (max-width: 1050px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .container-txt {

        right: 40%;

    }

}

@media only screen and (max-width: 750px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .container-txt {

        right: 10%;

    }

}



@media only screen and (max-width: 350px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

}