/*分類頁面*/

/*商品分類頁面*/
main{
    margin: auto;
    margin-right: 18%;
    padding: 8%;
    width: 70%;
    display: grid;
    grid-template-columns: 10fr 10fr;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.card {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
}

/*各個型號的照片大小、樣式調整*/

.i11{
    width: 250px;
    height: 280px;  
    border-radius: 10px;
    border-radius: 10px;
}

.i12{
    width: 350px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.i13{
    width: 320px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.i14{
    width: 320px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}

.Find_N2_flip{
    width: 250px;
    height: 280px;  
    border-radius: 10px;
    border-radius: 10px;
}

.Reno8{
    width: 350px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.Reno8t{
    width: 320px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.Reno8z{
    width: 320px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}

.IV{
    width: 250px;
    height: 280px;  
    border-radius: 10px;
    border-radius: 10px;
}

.V1{
    width: 300px;
    height: 280px;  
    border-radius: 10px;
    border-radius: 10px;
}


.III{
    width: 420px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.V10{
    width: 350px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}

.a6{
    width: 350px;
    height: 320px;  
    border-radius: 10px;
    border-radius: 10px;
}

.p7{
    width: 350px;
    height: 310px;  
    border-radius: 10px;
    border-radius: 10px;
}


.pro{
    width: 320px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.a7{
    width: 320px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}

/*商品名稱*/

h1{
 padding: 20px;
}

/*箭頭*/

#iconarrow {
    top: 40%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 0px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}

.part-title {
    color: black;
    padding: 40px;
    width: 100%;
    font-family: 'Gill Sans';
    font-size: 50px;
    text-align: center;
}

@media only screen and (max-width: 1050px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .container-txt {

        right: 40%;

    }

}

@media only screen and (max-width: 750px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .container-txt {

        right: 10%;

    }

}



@media only screen and (max-width: 350px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #00375B;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}

.footer {
	padding: 20px;
	color: #444444;
	text-align: center;
	bottom: 0;
	position: relative;
	width: 100%;
	margin-top: 20px;
}
