* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: inherit;
    
    }

body{
    background-color: #7B86AA;
}

/*右邊區塊*/

.yellow{
    background-color: #B9BAC5;
    width: 1000px;
    height: 600px;
    margin-top: 55px;
    margin-left: 270px;
}

/*左邊區塊*/

.logo{
    background-color: #36344F;
    width: 1000px;
    height: 600px;
    clip-path: polygon(0 0, 55% 0, 35% 100%, 0% 100%);

}

/*帳號密碼*/

.input{
    float: right;
    background-color: #EEEEEE;
    width: 300px;
    height: 380px;
    margin-top: 120px;
    margin-right: 90px;
    text-align: center;
    padding: 20px;
}

/*分隔線*/

span{
    padding: 10px;  
}

/*欄位*/

.user{
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    height: 40px;
    background: transparent;
    padding: 0 10px 0 80px;
    transition: all 0.4s;
    display: block;
    border: none;
    padding: 10px;
}

.password{
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    height: 40px;
    background: transparent;
    padding: 0 10px 0 80px;
    transition: all 0.4s;
    display: block;
    border: none;
    padding: 10px;
}

.margin{
    margin-top: 10%;
}

.login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*登入按鈕*/

.log{ 
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-color: #686868;
    background-color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#686868;
}

.log:hover{
    background-color:#989B99 ;
    color: #4B3A39;
}

/*logo設定*/

.icon{
    width: 25%;
    margin-left: 10%;
    margin-top: 15%;
}