/* COPYRIGHT- CODING WITH NICK*/


.mySlides {
    display: none;
    position: relative;
    align-items: center;
    vertical-align: middle;
    justify-content: center;

}


.mySlides img {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    position: relative;
    width: 110%;
}

/* Slideshow container */
.slideshow-container {
    padding: 80px;
    max-width: 50%;
    position: relative;
    top: 160px;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    background-color: #717171;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}





/* The dots/bullets/indicators */
.dotposition {

    text-align: center;
    position: relative;
    top: 120px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #898986;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.dot:hover {
    background-color: #4f4b4b;
}

/* Fading animation */
.fade {

    animation-name: fade;
    animation-duration: 1.5s;
}



@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    .mySlides img {
        max-width: 40%;
    }
}

@media only screen and (max-width: 500px) {

    .prev,
    .next,
    .text {
        font-size: 14px
    }

}

@media only screen and (max-width: 1200px) {

    .mySlides .img {
        width: 50%;

    }
}