/*商品分類頁面*/

main{
    margin: auto;
    padding: 8%;
    width: 70%;
    display: grid;
    grid-template-columns: 10fr 10fr;
    grid-auto-flow: row;
    grid-gap: 10px;
    margin-right: 23%;
}

.card {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
}

.IV{
    width: 250px;
    height: 280px;  
    border-radius: 10px;
    border-radius: 10px;
}

.V1{
    width: 300px;
    height: 280px;  
    border-radius: 10px;
    border-radius: 10px;
}


.III{
    width: 420px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}


.V10{
    width: 350px;
    height: 350px;  
    border-radius: 10px;
    border-radius: 10px;
}

h1{
 padding: 20px;
}

#iconarrow {
    top: 40%;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 0px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}

.part-title {
    color: black;
    padding: 40px;
    width: 100%;
    font-family: 'Gill Sans';
    font-size: 50px;
    text-align: center;
}

@media only screen and (max-width: 1050px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .container-txt {

        right: 40%;

    }

}

@media only screen and (max-width: 750px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .container-txt {

        right: 10%;

    }

}



@media only screen and (max-width: 350px) {

    .container-per {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

}

footer {
    padding: 10px;
    color: #444444;
    text-align: center;
    line-height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}