body {
    background-color: #bbc1c1;

    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0px;
}

html {
    box-sizing: border-box;
}

/* Header 排版 */
#page-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo */

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 200;
}

.logo img {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

#header {
    transition: background-color 0.2s ease-in-out;
    background-color: #00375B;
    line-height: 3.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

    label #btn,
    label #cancel {
        position: fixed;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        border: 1px solid #262626;
        margin: 15px;
        font-size: 29px;
        background: #262626;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        transition: all .5s ease;
    }
}

/* righticon 右邊會員、購物車 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.righticon {

    background-color: red;

}

#iconcart {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: -15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    z-index: 150;
}

#iconuser {
    position: absolute;
    right: 58px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: -15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    z-index: 150;
}

.search_wrap .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    position: absolute;
    margin: -19.5px auto;
    z-index: 150;
    right: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
}

.search_wrap .search_box .btn {
    position: absolute;
    cursor: pointer;
    background: #00375B;
    color: #fff;
    width: 50px;
    height: 31px;
    top: 14px;
    right: 31px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 12px;
    left: 225px;
    width: 50%;
    height: 60%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    padding-right: 145px;
}

.search_wrap .search_box .btn:hover {
    background: #7690da;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap .search_box .btn {
    width: 50px;
    height: 31px;
    top: 14px;
    right: 31px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

/* find 搜尋*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.search_wrap .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    position: absolute;
    z-index: 150;
    right: 120px;
}

.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 31px;
    right: 31px;
    width: 82px;
    height: 31px;
    background: #00375B;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 12px;
    left: 225px;
    width: 50%;
    height: 60%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

.search_wrap .search_box .btn:hover {
    background: #7690da;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap .search_box .input {
    border-radius: 50px;
    padding-right: 145px;
}

.search_wrap .search_box .btn {
    width: 50px;
    height: 31px;
    top: 14px;
    right: 31px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

/* sliderbar 左邊點出來 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 5px solid transparent;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}


.sidebar a.active,
.sidebar a:hover {
    border-left: 5px solid #b93632;
    color: #fff;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
    line-height: 1.65;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: fixed;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked~.sidebar {
    left: 0px;
}

#check:checked~label #btn {
    margin-left: 241px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 241px;
    opacity: 1;
    visibility: visible;
}


/*購物車選單*/
nav {
    display: block;
    margin: auto;
    position: relative;
    max-width: 1200px;
    margin-top: 150px;
    font-family: Arial;
    text-align: center;
    background-color: #1e1e1e;
    margin-bottom: 50px;
    opacity: 0.8;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

nav a:hover {
    color: #b93632;
}

/*購物車區塊*/
main {
    max-width: 1200px;
    display: block;
    margin: auto;
}

/*購物車表格*/
.shopcontainer {
    display: block;
    margin: auto;
    max-width: 1200px;
    border: #EED6C4;
    border-style: solid;
}

.shop_header {
    display: flex;
    height: 40px;
    background-color: #EED6C4;
    padding-left: 10px;
}

.shop_header div {
    margin-top: 5px;
    width: 200px;
    color: black;
    font-weight: bold;
    line-height: 30px;
}

.shop_header .item {
    width: 50%;
}

.shop_body {
    background-color: white;
    height: 150px;
    align-items: center;
}

.shop_body div {
    color: black;
    width: 200px;
}

.delete img {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.item {
    text-align: center;
}

.item img {
    border-radius: 3px;
    vertical-align: middle;
}

.name {
    display: inline-block;
}

.btn {
    width: 18px;
}

.input_num {
    width: 50px;
}

.pg {
    margin-top: 50px;
}

.infor_header {
    display: flex;
    height: 40px;
    background-color: #EED6C4;
    padding-left: 10px;
}

.infor_header div {
    margin-top: 5px;
    color: black;
    font-weight: bold;
    line-height: 30px;
}

.infor_header .infor {
    margin-left: 550px;
}

.infor_body {
    background-color: white;
    height: 150px;
    align-items: center;
}

.bar {
    display: inline-block;
    text-decoration: none;
    line-height: 60px;
}

.info0 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-left: 1000px;
}

.info {
    padding: 75px;
    display: block;
}

/*購物車下方點選區塊*/
.orderbutton {
    position: relative;
    left: 45%;
    padding: 8px;
    border-radius: 10px;
    border-color: #686868;
    background-color: #DDDDDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #686868;
    margin: 30px 40px 10px 0px;
    font-weight: bold;
    font-size: 15px;
}

/*確認訂單*/
.infor02 {
    text-align: center;
    margin-left: 500px;
    font-size: 18px;

}

/*註冊背景*/
.back1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
}

/*註冊*/
.enroll {
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.enroll {
    line-height: 35px;
}

.enroll p {
    font-weight: bold;
}

.enroll .bar {
    height: 25px;
    border-radius: 10px;
}

.footer {
    padding: 10px;
    color: #444444;
    text-align: center;
    line-height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
}